
.container{
  max-width:1170px;
  width:100%;
  padding:0 15px;
  margin:0 auto;
}

.top-wrapper{
  background-image: url(https://scontent.fhan2-4.fna.fbcdn.net/v/t1.0-9/51417403_2179722768956845_5030142959794782208_n.jpg?_nc_cat=110&_nc_oc=AQnL9ABUovNlZkvhXMXLPhG9TQaewO9owZzpdcMhcK2RLxew8pdlgmY62VRkihE0K4_v0429mAafXKFNx3G23wjK&_nc_ht=scontent.fhan2-4.fna&oh=599f5e296e82093a233aa857814f03a4&oe=5ED105BB);
  background-size: cover;
  text-align: center;
  height:100%;
  color:white;
}

.top-wrapper h1{
  color:white;
  padding-top: 180px;
  font-size:70px;
}

.top-wrapper p{
  font-size:40px;
}

.contents-wrapper{
  background-color: #f7f7f7;
  padding:80px 0;
  text-align: center;
}


.message-wrapper{
  text-align: center;
  padding-bottom:80px;
}
